@using BookWise.Core.Models.Author;
@model IEnumerable<AuthorServiceModel>
@{
    ViewBag.Title = "All Authors";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<section class="blog_section layout_padding">
    <div class="container">

        @if (!Model.Any())
        {
            <div>
                <h4 class="text-center">There are no authors available.</h4>
            </div>
            <div class="text-center">
                <a asp-controller="Author" asp-action="Add">
                    Add Author
                </a>
            </div>
        }
        <partial name="_AuthorsPartial" model="@Model" />
    </div>
</section>