@model IEnumerable<BookServiceModel>
@{
    ViewBag.Title = "From Our Bookshelves";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            @if (User.IsInRole("Administrator"))
        {
            <div class="text-center mt-4">
            <a asp-controller="Book" asp-action="Add" class="btn btn-primary">Add new book</a>
           </div>
                
        }
        </div>
        <br />
        @if (!Model.Any())
        {
            <div>
                <h4 class="text-center">There are no books available.</h4>
            </div>
           @if (User.IsInRole("Administrator"))
            {
               <div class="text-center">
                <a asp-controller="Book" asp-action="Add">
                    Add Book
                </a>
            </div>
            }
        }

        <partial name="_BooksPartial" model="@Model" />
    </div>
</section>