@model IEnumerable<BookServiceModel>
@{
    ViewBag.Title = "All Books";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                From Our Bookshelves
            </h2>
        </div>

        @if (!Model.Any())
        {
            <div>
                <h4 class="text-center">There are no books available.</h4>
            </div>
            <div class="text-center">
                <a asp-controller="Books" asp-action="Add">
                    Add Book
                </a>
            </div>
        }

        <partial name="_BooksPartial" model="@Model" />
    </div>
</section>